* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}


:root {
    --primary: #FFB900;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 34px;
    border-radius: 999px;
    background: #171100;
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    padding: 8px 16px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.break-all {
    word-break: break-all;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.heading {
    color: #171100;
    font-weight: 700;

    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.heading.lv3 {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

}

body {
    font-size: 1.6rem;
}

.header {
    background: #FFFCF4;
    scroll-behavior: smooth;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;

}

.sign-up-btn {
    min-width: 144px;
}

.action {
    margin-left: 49px;
}


.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}



.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    width: 270px;
    right: 0;
    bottom: 48px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .lable {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;

}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;

}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}



.hero .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;

}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-btn {
    min-width: 180px;
    line-height: 52px;
    background: var(--primary);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: #FFF;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.22;

}

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.65;
    width: 458px;
    margin-top: 16px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    border: 1px solid var(--primary);
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    background: #FFF;
}



.course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .foot,
.course-item .rating,
.course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .title a {
    padding-right: 8px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;

}

.course-item .value {
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;

}


.course-item .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;

}

.course-item .foot {
    margin-top: 12px;
}

.course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    /* 166.667% */
}

.course-item .book-btn {
    border: none;

}

.course-item .book-btn:hover {
    color: #fff;
    background: var(--primary);
}

/* feedback */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feedback-item {
    display: flex;
}

.feedback-item .avatar {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.feedback-item .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
}

.feedback-item .dot.active {
    background: #FFB900;
}

.feedback-item .content {
    width: 65%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
    /* 153.846% */
}

/* features */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images .lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;

}


.features .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);

}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto auto;
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
    overflow: hidden;
}

.blog .blog-list .item {
    flex-shrink: 0;
    background: #fff;
    border-radius: 16px;
    width: calc(33.33% - 20px);
}

.blog .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .info {
    padding: 20px 20px 28px;
}

.blog .date {
    display: flex;
    align-items: center;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6;

}

.blog .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: var(--primary);
    margin-right: 4px;
    border-radius: 50%;
}

.blog .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

}

.blog .btn {
    font-size: 1.4rem;
}

.blog .btn:hover {
    background: var(--primary)
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary);
}

.footer {
    padding: 96px 135px 0;
    background: #2E2100;
}

.footer .row {
    display: flex;
    border-bottom: 1px solid #59554B;
    padding-bottom: 38px;
}

.footer .column {
    width: 22.6%;
}

.footer .column:first-child {
    width: 35%;
}

.footer .desc {
    max-width: 267px;
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer .socials {
    display: flex;
    margin-top: 18px;
    gap: 18px;
}

.footer .list {
    margin-top: 32px;
}

.footer .list li a {
    margin-bottom: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;

}

.footer .list li:last-child a {
    margin-bottom: 0;

}

.footer .list strong {
    font-weight: 600;
    color: #fff;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;

}